/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Colors */
    --body-color: #e4f7f5;
    --sidebar-color: #fff;
    --primary-color: #006156;
    --primary-color-light: #f6f5ff;
    --toggle-color: #ddd;
    --text-color: #707070;

    /* Transisi */
    --trans-02: all 0.2s ease;
    --trans-03: all 0.3s ease;
    --trans-04: all 0.4s ease;
    --trans-05: all 0.5s ease;
}

body {
    height: 100vh;
    background: var(--body-color);
    transition: var(--trans-05);
}
body.dark {
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}
/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--trans-05);
    z-index: 100;
}
.sidebar.close {
    width: 88px;
}
/* Resuable Css */
.sidebar .text {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--trans-03);
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}
.sidebar .image {
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar li {
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}
.sidebar li .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 20px;
}
.sidebar li .icon,
.sidebar li .text {
    color: var(--text-color);
    transition: var(--trans-02);
}
.sidebar header {
    position: relative;
}
.sidebar .image-text img {
    width: 40px;
    border-radius: 6px;
}
.sidebar header .image-text {
    display: flex;
    align-items: center;
}
header .image-text .header-text {
    display: flex;
    flex-direction: column;
}
.header-text .name {
    font-weight: 600;
}
.header-text .profession {
    margin-top: -2px;
}
.sidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--sidebar-color);
    font-size: 22px;
    transition: var(--trans-03);
}
.sidebar.close header .toggle{
    transform: translateY(-50%);
}
body.dark .sidebar header .toggle{
    color: var(--text-color);
}
.sidebar .menu {
    margin-top: 35px;
}
.sidebar .search-box {
    background: var(--primary-color-light);
    border-radius: 6px;
}
.search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    background: var(--primary-color-light);
    transition: var(--trans-05);
}
.sidebar li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--trans-04);
}
.sidebar li a:hover {
    background: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--sidebar-color);
}
body.dark li a:hover .icon,
body.dark li a:hover .text {
    color: var(--text-color);
}
.sidebar .menu-bar {
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-bar .mode {
    border-radius: 6px;
    position: relative;
    background: var(--primary-color-light);
}
.menu-bar .mode .moon-sun {
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
}
.menu-bar .mode i {
    position: absolute;
    transition: var(--trans-03);
}
.menu-bar .mode i.sun {
    opacity: 0;
}

body.dark .menu-bar .mode i.sun {
    opacity: 1;
}
body.dark .menu-bar .mode i.moon {
    opacity: 0;
}

.menu-bar .mode .toggle-switch {
    position: absolute;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 60px;
    cursor: pointer;
    border-radius: 6px;
    background: var(--primary-color-light);
    transition: var(--trans-05);
}
.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 44px;
    border-radius: 25px;
    background: var(--toggle-color);
}
.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--sidebar-color);
    transition: var(--trans-03);
}
body.dark .switch::before {
    left: 24px;
}

.home {
    position: relative;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background: var(--body-color);
    transition: var(--trans-05);
}
.home .text {
    font-size: 25px;
    font-weight: 500;
    color: var(--text-color);
    padding: 15px 40px;
}
.sidebar.close ~ .home {
    left: 88px;
    width: calc(100% - 88px);
}

/* Isi */
.isian {
    width: 100%;
    padding: 1.5rem;
}
.text-isi {
    width: 100%;
    height: 200px;
    color: var(--sidebar-color);
    margin-top: 10px;
    border-radius: 8px;
    padding: 0.8rem 1rem 1rem 2rem;
    background: var(--primary-color);
}
.text-isi h1 {
    font-size: 50px;
}

/* Materi */
.materi {
    width: 100%;
    padding: 1.5rem;
}
.text-materi {
    width: 100%;
    height: 600px;
    color: var(--primary-color);
    margin-top: 10px;
    border-radius: 8px;
    padding: 0.8rem 1rem 1rem 2rem;
    background: rgb(207, 214, 214);
}
.text-materi h1 {
    font-size: 30px;
    text-align: center;
}
.text-materi img {
    color: #006156;
}

/* Fitur */
.shop-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    gap: 1.5rem;
    padding-top: 30px;
    padding-left: 120px;
}
.product-box {
    color: rgb(0, 0, 0);
    position: relative;
    display: fixed;
    justify-content: center;
}
.product-box:hover {
    padding: 10px;
    border: 1px solid var(--bg-color);
}
.product-box img {
    justify-content: center;
}
.product-title {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    justify-content: center;
}
.price {
    font-weight: 500;
}

/* Kalkulator Umur */
.base {
    width: 100%;
    margin: 0;
    overflow: hidden;
    display: block;
    float: none;
}
.base h2 {
    font-size: 30px;
    text-align: center;
    box-shadow: 0px 2px var(--text-color);
}
.block {
    width: 135px;
    padding: 5px 20px;
    margin-left: 16.8%;
    display: inline-block;
    margin-top: 50px;
}
.isi-text-umur {
    font-size: 20px;
    text-align: left;
    font-weight: bold;
    letter-spacing: 0.3px;
    margin-bottom: 10px;
}
input[type="kosong"]{
    width: 250px;
    margin: auto;
    outline: none;
    min-height: 50px;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    font-size: 20px;
}
input[type="kosong"]:focus{
    background: var(--toggle-color);
    border: 2px solid var(--text-color);
}
input[type="button"]{
    width: 150px;
    margin-left: 46%;
    margin-top: 40px;
    outline: none;
    border: none;
    border-radius: 2px;
    background-color: var(--primary-color);
    padding: 14px 16px;
    color: var(--sidebar-color);
    font-size: 18px;
}
input[type="button"]:hover{
    background-color: var(--text-color);
}
.age {
    display: block;
    width: 97%;
    height: 100px;
    margin: 10px;
    margin-top: 35px;
    padding-bottom: 20px;
    overflow: hidden;
    font-size: 24px;
    font-weight: normal;
    line-height: 1.5;
    color: var(--primary-color);
    padding: 10px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color-light);
}

/* Sosial Media Kita */
.sosmed {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    gap: 1.5rem;
    padding-top: 30px;
    padding-left: 120px;
    justify-content: center;
    align-items: center;
}
.sosmed img {
    width: 5rem;
}
.box-kenalan p {
    width: 100%;
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
    justify-content: center;
}
.block-kota {
    width: 135px;
    padding: 5px 20px;
    margin-left: 40%;
    display: inline-block;
    margin-top: 50px;
}
input[type="kosong-kota"]{
    width: 300px;
    margin: auto;
    outline: none;
    min-height: 50px;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    font-size: 20px;
}
input[type="kosong-kota"]:focus{
    background: var(--toggle-color);
    border: 2px solid var(--text-color);
}
.kota {
    display: block;
    width: 97%;
    height: 100px;
    margin: 10px;
    margin-top: 35px;
    padding-bottom: 20px;
    overflow: hidden;
    font-size: 24px;
    font-weight: normal;
    line-height: 1.5;
    color: var(--primary-color);
    padding: 10px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color-light);
}